@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --text-heading: 234 80% 30%;
    --text-subtle: 234 10% 40%;
    --text-muted: 234 10% 60%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 234 89% 35%; /* Indigo 800 aprox */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 60% 95%; /* Light indigo */
    --secondary-foreground: 234 89% 30%;

    --muted: 240 60% 96%;
    --muted-foreground: 234 10% 50%;

    --accent: 240 60% 94%;
    --accent-foreground: 234 90% 25%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 234 30% 85%;
    --input: 234 30% 85%;
    --ring: 234 89% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 234 39% 15%; /* Indigo 950 aprox */
    --foreground: 0 0% 100%;
    --text-heading: 234 100% 95%;
    --text-subtle: 234 80% 85%;
    --text-muted: 234 40% 70%;

    --card: 234 35% 16%;
    --card-foreground: 0 0% 100%;

    --popover: 234 35% 16%;
    --popover-foreground: 0 0% 100%;

    --primary: 234 89% 80%; /* Indigo 300 */
    --primary-foreground: 234 50% 20%;

    --secondary: 234 30% 25%; /* Indigo 800 */
    --secondary-foreground: 0 0% 100%;

    --muted: 234 25% 30%;
    --muted-foreground: 234 20% 70%;

    --accent: 234 25% 25%;
    --accent-foreground: 234 80% 90%;

    --destructive: 0 60% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 234 25% 35%;
    --input: 234 25% 35%;
    --ring: 234 89% 80%;

    --chart-1: 234 89% 60%;
    --chart-2: 234 89% 40%;
    --chart-3: 234 50% 25%;
    --chart-4: 234 89% 80%;
    --chart-5: 234 89% 90%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-heading {
    @apply text-text-heading;
  }

  .text-subtle {
    @apply text-text-subtle;
  }

  .text-muted {
    @apply text-text-muted;
  }
}
